{% extends 'base.html' %}
  
{% block content %}

<h1>SIGN UP/REGISTER PAGE</h1>

<form class="container" method="POST">

    {{ form.hidden_tag() }}

    {{ form.username(class='form-control', placeholder='username') }}
    {{ form.first_name(class='form-control', placeholder='first name') }}
    {{ form.last_name(class='form-control', placeholder='last name' )}}
    {{ form.email(class='form-control', placeholder='email') }}
    {{ form.password(class='form-control', placeholder='password') }}
    {{ form.confirm_password(class='form-control', placeholder='confirm password') }}
    {{ form.submit(class='btn btn-primary') }}

</form>

{% endblock %}